<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <div class="welcome-message">
      <h1>Controle seus Smart Meters com facilidade</h1>
      <p>Visualize, gerencie e monitore todos os seus dispositivos de medição inteligentes em um só lugar.</p>
      <p>Acesse o menu lateral para começar <ion-icon name="menu"></ion-icon></p>
    </div>
  </div>
</ion-content>