ion-header {
    --background: #3880ff;
}

ion-toolbar {
    --padding-start: 16px;
    --padding-end: 16px;
    --color: #fff;
}

ion-grid {
    padding: 16px;
}

.header-row {
    background-color: #f8f8f8;
    color: #222;
    border-radius: 8px;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-row {
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}

ion-col {
    text-align: center;
}

ion-row:last-child {
    border-bottom: none;
}